:root {
    --about-me-height: 40vh;
    --about-me-min-height: 300px;
    --about-me-max-height: 500px;

    --dark-mode-background: #000000;
    --light-mode-background: #ffffff;

    --dark-mode-text: #ffffff;
    --light-mode-text: #000000;

    --dark-mode-secondary: #2c3030;
    --light-mode-secondary: #d6d6d6;

    --text-color: var(--dark-mode-text);
    --background-color: var(--dark-mode-background);

    --secondary-color: var(--dark-mode-secondary);

    --tech-csharp-text: #ffffff;
    --tech-csharp-background: #682876;

    --tech-cpp-text: #ffffff;
    --tech-cpp-background: #00599C;

    --tech-js-text: #323330;
    --tech-js-background: #f0db4f;

    --tech-ts-text: #ffffff;
    --tech-ts-background: #3178c6;

    --tech-python-text: #ffffff;
    --tech-python-background: #306998;

    --tech-unity-text: #ffffff;
    --tech-unity-background: #110b09;

    --tech-sql-text: #ffffff;
    --tech-sql-background: #2E3E64;

    --tech-angular-text: #8b0000ff;
    --tech-angular-background: #ff0000ff;

    --tech-ionic-text: #ffffff;
    --tech-ionic-background: #3880FF;

    --tech-express-text: #ffffff;
    --tech-express-background: #1e1e1e;

    --tech-hlsl-tect: #ffffff;
    --tech-hlsl-background: #00D890;

    --tec-tensorflow-text: #ffffff;
    --tech-tensorflow-background: #FF6F00;

    --tech-pytorch-text: #292929;
    --tech-pytorch-background: #EE4C2C;

    --tech-arduino-text: #ffffff;
    --tech-arduino-background: #00979c;

    --tech-esp-text: #ffffff;
    --tech-esp-background: #FF3C00;

    --tech-html-text: #431f00;
    --tech-html-background: #F06529;

    --tech-css-text: #031668;
    --tech-css-background: #2965F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: none;
}

body {
    font-family: 'Inter', sans-serif;

    line-height: 1.6;
    scroll-behavior: smooth;

    color: var(--text-color);
    background-color: var(--background-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.text-center {
    text-align: center;
}

.overflow-x {
    overflow-x: scroll;
}

.overflow-y {
    overflow-y: scroll;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-vw {
    width: 100vw;
}

.h-vw {
    height: 100vh;
    height: 100svh;
}

.front {
    z-index: 1000000000;
}

#main-scroll {
    width: 100%;
    height: 100svh;

    scroll-snap-type: y mandatory;
}

#welcome, #projects, #artworks, #a-little-something {
    scroll-snap-align: start;
}

#welcome {
    width: 100vw;
    height: 100svh !important;
}

.stars {
    top: 0;
    left: 0;
    position: fixed;

    background: transparent;

    pointer-events: none;

    z-index: -1000000;
}

#stars-small {
    width: 1px;
    height: 1px;
    animation: starsParallax 20s linear infinite;
}

#stars-medium {
    width: 2px;
    height: 2px;
    animation: starsParallax 50s linear infinite;
}

#stars-large {
    width: 3px;
    height: 3px;
    animation: starsParallax 100s linear infinite;
}

@keyframes starsParallax {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

.text-gradient-1 {
    background: linear-gradient(to right, orangered, goldenrod);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    background: linear-gradient(to right, violet, cornflowerblue);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-secondary {
    border-radius: 1rem;
    border: 0.1rem solid var(--secondary-color);
}

.background-blur {
    backdrop-filter: blur(10px);
}

#welcome-body {
    width: 50vw;
    min-width: 300px;
    max-width: 700px;
}

h1 {
    font-size: 3.2rem;
    font-weight: lighter;

    animation: slideRight .5s ease-in;

    width: auto;

    margin-bottom: 1rem;
}

h1 span {
    font-size: 4rem;
    font-weight: bold;
}

#welcome h2, #welcome h3 {
    opacity: 0;

    animation: slideRight .5s ease-in forwards;
    animation-delay: .25s;

    font-weight: lighter;
}

#introduction {
    width: 50vw;
    min-width: 300px;
    max-width: 500px;

    gap: 2rem;
}

#heart {
    opacity: 0;

    animation: slideDown .5s ease-in forwards;
    animation-delay: .25s;
}

#college {
    position: relative;
}

#college a {
    text-decoration: none;
}

#college::after {
    left: 0;
    bottom: 0;
    position: absolute;

    width: 13%;
    height: .1rem;

    content: '';

    border-radius: 0 .1rem .1rem 0;

    background:linear-gradient(to right, violet, cornflowerblue);

    transition: all 0.3s ease;
}

#college:hover::after {
    width: 100%;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-1rem);
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
    }
}

#welcome-options {
    margin-top: 1rem;
}

#about-me {
    font-weight: bold;

    display: block;
}

#about-me span {
    display: inline-block;
    transition: all 0.3s ease;
}

#about-me:hover span {
    transform: translateX(-100%);
}

#about-me::after {
    opacity: 0;

    content: "I'm a student, developer, (kinda sorta) artist, and if its relevant I played field hockey for 5 years and learnt to play the tabla for 7.";

    font-size: 1rem;
    font-weight: 200;

    background-color: var(--secondary-color);

    padding: 1rem;
    border-radius: 1rem;

    display: inline-block;

    width: 50vw;
    min-width: 300px;
    max-width: 500px;

    white-space: normal;

    transition: all 0.3s ease;
}

#about-me:hover::after {
    opacity: 1;
    transform: translateX(-10%);
}

#more-to-scroll {
    opacity: 0;

    font-weight: lighter;

    color: gray;

    margin-top: 1rem;

    animation: slideUp .3s ease-in forwards;
    animation-delay: 15s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
    }
}

#heart {
    display: inline-block;

    padding: 2px;
    border-radius: 50%;
    background: linear-gradient(to right, orangered, wheat);
}

#heart img {
    display: block;

    border-radius: 6px;

    width: min(50vw, 125px);
    height: min(50vw, 125px);
}

#projects {
    height: 100%;
}

#projects h2 {
    font-weight: lighter;
}

#tech-choose {
    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 3rem 3rem 0;

    text-align: center;
}

.tech-category {
    padding: 1rem;

    max-width: 30vw;

    border-radius: 1rem;
    border: 0.1rem solid var(--secondary-color);
}

.tech-stack {
    gap: 1rem;

    padding: .5rem;
}

.tech {
    height: 1.75rem;

    padding-left: .5rem;
    padding-right: .5rem;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: lighter;
}

.tech-choose {
    transition: all 0.3s ease;
}

.tech-choose:hover {
    scale: 1.1;
    cursor: pointer;
}

.tech[data-selected='false'] {
    opacity: .5;
}

#refresh-timeline {
    transition: all .3s ease;
}

#refresh-timeline[data-disabled='false']:hover {
    transform: scale(1.1);

    cursor: pointer;
}

#refresh-timeline[data-disabled='true'] {
    opacity: .5;
}

#none-selected {
    width: 100%;
    height: 400px;

    text-align: center;
}

#none-selected h2 {
    font-weight: lighter;
}

#project-timeline {
    width: 100%;
    height: auto;

    margin-top: 2rem;
}

.project-row {
    display: flex;

    width: fit-content;
    height: calc(400px + .15rem);

    margin-left: 8rem;
    margin-right: 8rem;
}

.project-card-animate {
    opacity: 0;
    animation: slideRight .3s linear forwards;
}

.project-card-animate::after {
    animation: timelineLoad .3s linear forwards;
}

.project-card h3 {
    font-weight: bold;
}

.project-card, .filler-card {
    padding: 1rem;

    width: 375px;
    height: 200px;
}

.filler-card {
    min-width: 10vw;
}

.project-bottom {
    padding-top: 0;
    margin-top: .075rem;

    justify-content: start;

    position: relative;
}

.project-top {
    padding-bottom: 0;
    margin-bottom: .075rem;

    justify-content: end;

    position: relative;
}

.project-bottom::after {
    top: -.15rem;
    left: 0;
    position: absolute;

    content: '';

    width: 0;
    height: .15rem;

    background-color: white;
}

.project-top::after {
    left: 0;
    bottom: -.15rem;
    position: absolute;

    content: '';

    width: 0;
    height: .15rem;

    background-color: white;
}

@keyframes timelineLoad {
    to {
        width: 100%;
    }
}

.project-title {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.project-title img {
    width: auto;
    height: 1.5rem;
}

.project-content {
    text-align: start;
    font-weight: lighter;

    font-size: .9rem;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-top: .5rem solid var(--text-color);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: .4rem solid transparent;
    border-right: .4rem solid transparent;
    border-bottom: .5rem solid var(--text-color);
}

#artworks {
    width: 100%;
    height: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

#artworks h2 {
    font-size: 2rem;

    font-weight: lighter;
}

.gallery-heading {
    padding-left: 5rem;
}

.icon-switch {
    display: inline-block;

    background-color: transparent;

    border: none;
    color: var(--secondary-color);

    filter: invert(1);

    font-size: 1.5rem;

    transition: all 0.3s ease;
}

.icon-switch:hover {
    scale: 1.1;
    cursor: pointer;
}

.gallery-border {
    overflow-x: hidden;

    mask: linear-gradient(0deg, transparent, var(--text-color) 20%, var(--text-color) 80%, transparent);
    -webkit-mask: -webkit-linear-gradient(0deg, transparent, var(--text-color) 20%, var(--text-color) 80%, transparent);
}

.gallery {
    flex-wrap: nowrap;
    width: fit-content;

    gap: 2rem;
}

#drawings-content, #photography-content {
    padding: 1rem;

    min-height: 600px;
}

#drawings-content img {
    width: auto;
    height: 400px;

    border-radius: .5rem;
}

.img-start, .img-end {
    min-height: 500px;
}

.img-start {
    justify-content: start;
}

.img-end {
    justify-content: end;
}

#photography-content img {
    width: auto;
    height: 400px;

    border-radius: .5rem;
}

@keyframes galleryScroll {
    to {
        transform: translate(calc(-50%));
    }
}

.spin {
    animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#a-little-something {
    height: 100%;
}

#a-little-something h2 {
    font-size: 2rem;
}

#a-little-something .col {
    align-items: center;
}

video {
    max-width: 80vw;
}

#index-parent {
    top: 0;
    left: 0;
    position: fixed;

    width: auto;
    height: 100svh;
}

#index {
    margin: 0 0 0 1rem;

    gap: .5rem;

    font-size: 1.6rem;
}

#index i {
    margin: 1rem;

    transition: all 0.3s ease;
}

#index i[data-selected='true'] {
    transform: scale(1.1);
    color: gray;
}

#index i[data-selected='false'] {
    transform: scale(1);
    color: var(--text-color);
}

#index i:hover {
    transform: scale(1.1);

    cursor: pointer;

    position: relative;

    color: gray;
}

.content-welcome {

}

#index i:hover::after {
    opacity: 1;

    top: 0;
    left: 100%;
    position: absolute;

    font-size: 1rem;
    font-weight: lighter;

    margin-left: 1.2rem;

    transform: translateX(10%);
}

#index i:hover:nth-child(1)::after {
    content: 'Home';
}

#index i:hover:nth-child(2)::after {
    content: 'Projects';
}

#index i:hover:nth-child(3)::after {
    content: 'Artworks';
}

#index i:hover:nth-child(4)::after {
    content: 'Something Cool';
}

#contact-me-parent {
    top: 0;
    right: 0;
    position: fixed;

    text-orientation: mixed;
    writing-mode: vertical-rl;

    width: auto;
    height: 100svh;
}

#contact-me {
    margin-right: 1rem;

    gap: 3rem;
}

#contact-me h4 {
    font-weight: lighter;
}

#contact-me button  {
    border: none;
    color: var(--text-color);
    background-color: transparent;

    font-size: 2rem;

    margin: 1rem;

    cursor: pointer;
}

#contact-me button :hover {
    color: gray;
}

#contact-icons img {
    width: 2rem;
    height: auto;

    margin-top: 1rem;
    margin-bottom: 1rem;

    transition: all 0.3s ease;
}

.project-link {
    transition: all 0.3s ease;
}

#contact-icons img:hover, .project-link:hover {
    scale: 1.2;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .row-med {
        display: flex;
        flex-direction: row;
    }

    .col-med {
        display:  flex;
        flex-direction: column;
    }

    #index-parent {
        top: 0;
        left: 0;
        position: fixed;

        width: 100vw;
        height: auto;
    }

    #index {
        margin: 1rem 0 0;
    }
}